.result-card {
    height: auto;
    width: 720px;
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px;
    padding: 5px;
}

.result-content {
    padding: 5px 5px 5px;
}

.result-text {
    text-align: left;
    font-weight: 800;
    color: #021e49;
}